body {
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 25px;
}

/* body border effect */
body:before, body:after {
  content: "";
  position: fixed;
  background: red;
  left: 0;
  right: 0;
  height: 3px;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

body {
  border-left: 3px solid red;
  border-right: 3px solid red;
}
