.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  width: 100%;
  background: red;
}

.modal {
  transform-origin: left center;
}

/* fade effect */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-out;
}

.fade-enter .modal {
  transform: scale3d(0.92,0.92,1);
}

.fade-enter.fade-enter-active .modal {
  transform: scale3d(1,1,1);
  transition: transform 300ms ease-out;
}

.fade-leave .modal {
  transform: scale3d(1,1,1);
}

.fade-leave.fade-leave-active .modal {
  transform: scale3d(0.92,0.92,1);
  transition: transform 300ms ease-out;
}

/* pageRight effect */
.pageRight-enter {
  left: 100%;
}

.pageRight-enter.pageRight-enter-active {
  left: 0%;
  transition: left 150ms ease-out;
}

.pageRight-leave {
  left: 0%;
}

.pageRight-leave.pageRight-leave-active {
  left: 100%;
  transition: left 150ms ease-out;
}
